<?xml version = "1.0" encoding = "utf-8"?> 
<!DOCTYPE hibernate-configuration PUBLIC 
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration> 
    <session-factory> 
  
        <!-- Set URL --> 
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/mizdooni_ca5</property> 
  
        <!-- Set Username -->
        <property name = "hibernate.connection.username">springuser</property> 
  
        <!-- Set Password --> 
        <property name = "hibernate.connection.password">ThePassword</property> 
  
        <!-- Set Driver Name --> 
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property> 
  
        <property name = "hibernate.show_sql">true</property> 
        
        <!-- Optional: Auto-generate schema --> 
        <!-- drop after run for debug reason -->
        <property name = "hibernate.hbm2ddl.auto">create-drop</property>
        <mapping class="org.ie.mizdooni.model.ManagerUserModel"/>
        <mapping class="org.ie.mizdooni.model.ClientUserModel"/>
        <mapping class="org.ie.mizdooni.model.UserModel"/>
        <mapping class="org.ie.mizdooni.model.RestaurantModel"/>
        <mapping class="org.ie.mizdooni.model.TableModel"/>
        <mapping class="org.ie.mizdooni.model.ReviewModel"/>
        <mapping class="org.ie.mizdooni.model.ReserveTableModel"/>
        <mapping class="org.ie.mizdooni.model.GlobalData"/>

  
    </session-factory> 
</hibernate-configuration>

<!--     
    <persistence>  
    <persistence-unit name="GlobalData">  
          
        <class>org.ie.mizdooni.model.GlobalData</class>  
      
    <properties>  
    <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>  
    <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/globaldata"/>  
    <property name="javax.persistence.jdbc.user" value="springuser"/>  
    <property name="javax.persistence.jdbc.password" value="ThePassword"/>  
    <property name="eclipselink.logging.level" value="SEVERE"/>  
    <property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>  
    </properties>  
      
        </persistence-unit>  
    </persistence>   -->
